@charset "utf-8";
/* CSS Document */

.jumbotron{
	background-color: chartreuse;
	color: black;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: fuchsia;
	margin-bottom: 0px;
	margin-top: 40px;
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}

h1{
	margin-top: 53px;
	text-align: center;
}

.tab-content{
	padding-top: 10px;
}
