$yellow: #fffa19;
$red: #DC0506;
$green: #319D0D;

@mixin margenes($top, $bottom){
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron{
	background-color: chartreuse;
	color: black;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: fuchsia;
	@include margenes(0px);
	@include margenes(40px);
}

.card-hotel{
	flex: 1 150px;
	padding: 2px 5px 2px 5px;
	@include margenes(10px);
}

.btn-reserva{
	width: 100%;
}

h1{
	@include margenes(53px);
	text-align: center;
}

.tab-content{
	padding-top: 10px;
}
